body {
	background-color: rgba(0, 0, 0, 0.85);
	color: whitesmoke;
	overflow: hidden;
	}

h1 {
	text-align: center;
	text-decoration: underline;
	font-weight: 1000;
	}

.icon {
	height: 11px;
	width: 11px;
	}

.container {
	padding: 2px 16px;
	background-color: white;
	color: black;
	}

.card {
	box-shadow: 0 4px 8px 0 rgba(250, 249, 249, 0.473);
	transition: 0.3s;
	width: 30%;
	margin: 25px auto;
	}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(250, 249, 249, 0.473);
	}

.project-showcase {
	display: inline-flex;
	width: 100vw;
	}

.blue {
	color: cornflowerblue;
	}